# DATABASE
DB_CLIENT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PW =
DB_NAME=nest_example
SYNC = true

JWT_SECRET=myjsonwebtokensecret
JWT_SECRET_EXAM=myjsonwebtokensecretexam
EXPIRESIN = 1d

#time zone
TZ=UTC

CLIENT_HOST=http://192.168.1.5:3000
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=congthangmyth1802@gmail.com
MAIL_PASSWORD=thang13579
NODE_ENV_DOCKER=test
TELEGRAM_TOKEN=
GROUP_ID=
# TELEGRAM_TOKEN = test

#Client and Server host address
CLIENT_HOST=
SERVER_HOST=

#VNPAY config
vnp_TmnCode
vnp_HashSecret
vnp_Url
vnp_ReturnUrl
vnpay_type=190002

LISTEN_PORT=3523
LISTEN_IP=0.0.0.0

